:root {
	--celeste-claro: #aee0f4;
	--turquesa: #49abc3;
	--azul-profundo: #11497c;

	--fuente-base: 'Roboto', sans-serif;
}

body {
	font-family: var(--fuente-base);
	background-color: #fff;
	color: #222;
	font-size: 1.1rem;
}

/* Estilo fijo para los botones del header */
.header-btn {
	background-color: #ffffff;
	color: #11497c;
	border: 2px solid #ffffff;
	font-weight: 600;
	transition: background-color 0.3s ease;
}

.header-btn:hover {
	background-color: #aee0f4; /* celeste claro */
	color: #11497c; /* mantener contraste legible */
}
